{% extends "base.html" %}

{% block body %}
<br>
    <table id="tabel" border="1"> 
        <tbody>
            <tr height=30> 
              <td width="30">id_producto</td> 
              <td width="30">Nombre</td> 
              <td width="30">Marca</td> 
              <td width="30">Descripcion</td> 
              <td width="30">Categoria</td> 
              <td width="30">Costo</td> 
              <td width="30">Precio</td> 
              <td width="30">Cantidad</td> 
              <td width="30">Id_proveedores</td>        
              <td width="150">  -     Operaciones     -</td>                 
            </tr> 
            {% for pro in productos %}
              <tr>
                {% for col in range(9) %}
                  <td width="2">{% print(pro[col]) %}</td>
                {% endfor %}
                <td width="100" >
                  <a href="/edit/{{ pro[0] }}">Editar</a>
                  <a href="/delete/{{ pro[0] }}">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
{% endblock %}