<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table id="tabel" border="1"> 
        <tbody>
          <tr> 
            <td width="2">id_producto</td> 
            <td width="2">Nombre</td> 
            <td width="2">marca</td> 
            <td width="2">descripcion</td> 
            <td width="2">categoria</td> 
            <td width="2">costo</td> 
            <td width="2">precio</td> 
            <td width="2">cantidad</td> 
            <td width="2">id_proveedores</td>                 
        </tr> 
        {% for pro in productos %}
        <tr>
            <td width="2">{% print(pro[0]) %}</td> 
            <td width="2">{% print(pro[1]) %}</td> 
            <td width="2">{% print(pro[2]) %}</td>  
            <td width="2">{% print(pro[3]) %}</td>
            <td width="2">{% print(pro[4]) %}</td>
            <td width="2">{% print(pro[5]) %}</td>
            <td width="2">{% print(pro[6]) %}</td>
            <td width="2">{% print(pro[7]) %}</td>
            <td width="2">{% print(pro[8]) %}</td>
        </tr>
          {% endfor %}
        </tbody>
</body>
</html>